{% extends 'layout.html' %}
{% set page_title = 'Menu' %}
{% set nav_title = 'Menu' %}

{% block page_style %}
<link rel="stylesheet" href="{{url_for('static',filename='custom/css/foods.css')}}">
{% endblock %}

{% block page_body %}

<div class="container my-5 py-lg-5">
  <h1 class="display-1 my-5 fw-bold text-center">Order food for today</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mt-5 pt-lg-5">
    {% for food in foods %}
    <div class="col">
      <div class="card h-100 border-0 shadow">
        <img src="{{food.image}}" class="card-img-top rounded-top" alt="{{food.name}}">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{food.name}}</h5>
          <p class="card-text mb-0">Credits: {{food.credits}}</p>
          <form action="{{url_for('user.order', food_id=food._id)}}" method="post" class="mt-auto">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            <button type="submit" class="btn btn-primary w-100 mt-3">Order Now</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block page_script %}{% endblock %}